name: CI/CD Pipeline

on:
  push:
    branches: [ "backend" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Backend
        run: |
          # මෙතැන ./backend වෙනුවට . (තිත) යෙදිය යුතුයි
          docker build -t ${{ secrets.DOCKER_USERNAME }}/onebiz-backend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/onebiz-backend:latest

      # Frontend not in this repo
      # - name: Build and Push Frontend
      #   run: |
      #     docker build -t ${{ secrets.DOCKER_USERNAME }}/onebiz-frontend:latest ./frontend
      #     docker push ${{ secrets.DOCKER_USERNAME }}/onebiz-frontend:latest

      - name: Deploy to Google Cloud VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_SSH_IP }}
          username: ${{ secrets.VM_SSH_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            cd /home/adeeshalakruwandevapriya/my-project
            docker compose pull
            docker compose up -d